In [1]:
import numpy as np
import pandas as pd
import copy
from pandas import read_csv
filename='C:/Users/Chimata/Desktop/mlfinalyearproject/studentdetailsfinal.csv'
data = read_csv(filename)
data.head(5)

,year,branch,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,studymode,active_backlogs,backlog_history,participate_activities,attendance,cgpa,cgpaup,backlog,grade
0,4,CSE,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,Online Tutorials,4 & above,6,Occasionally,80-90,5.00,5.00,4,Low
1,4,CSE,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,9.27,9.27,0,Excellent
2,4,CSE,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,Class notes,0,4,Occasionally,80-90,6.20,6.20,0,Below_average
3,4,CSE,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Always,above 90,7.36,7.36,0,Average
4,4,CSE,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,8.06,8.06,0,Good

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    562 non-null    int64
 1   branch                  562 non-null    object
 2   gender                  562 non-null    object
 3   type                    562 non-null    object
 4   tenth                   562 non-null    float64
 5   twelve                  562 non-null    float64
 6   higher_education        562 non-null    object
 7   take_notes              562 non-null    object
 8   prefer_tostudy          562 non-null    object
 9   hoursstudy              562 non-null    int64
 10  time_relaxing           562 non-null    object
 11  studymode               562 non-null    object
 12  active_backlogs         562 non-null    object
 13  backlog_history         562 non-null    int64
 14  participate_activities  562 non-null    object
 15  attendance              562 non-null    object
 16  cgpa                    562 non-null    float64
 17  cgpaup                  562 non-null    float64
 18  backlog                 562 non-null    int64
 19  grade                   562 non-null    object
dtypes: float64(4), int64(4), object(12)
memory usage: 87.9+ KB

In [3]:
data.loc[data['tenth'] <=10, 'tenth'] = data['tenth']*10

In [4]:
data.loc[data['twelve'] <=10, 'twelve'] = data['twelve']*10

In [5]:
data.loc[data['twelve'] >100, 'twelve'] = data['twelve']/10

In [6]:
data.loc[data['cgpa'] >10, 'cgpa'] = data['cgpa']/10

In [7]:
data

,year,branch,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,studymode,active_backlogs,backlog_history,participate_activities,attendance,cgpa,cgpaup,backlog,grade
0,4,CSE,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,Online Tutorials,4 & above,6,Occasionally,80-90,5.00,5.00,4,Low
1,4,CSE,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,9.27,9.27,0,Excellent
2,4,CSE,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,Class notes,0,4,Occasionally,80-90,6.20,6.20,0,Below_average
3,4,CSE,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Always,above 90,7.36,7.36,0,Average
4,4,CSE,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,8.06,8.06,0,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,Other,Male,D,90.0,80.0,Maybe,Occasionally,Just before exam,1,2-5 hours,"Online Tutorials, Class notes",0,0,Occasionally,75-80 %,8.50,8.50,0,Excellent
558,1,MEE,Male,D,98.0,97.0,No,No,Daily,1,>5 hours,"Class notes, Textbook",0,0,Occasionally,75-80 %,8.90,8.90,0,Excellent
559,3,EEE,Male,H,89.0,89.0,No,Yes,Just before exam,1,>5 hours,"Online Tutorials, Class notes, Textbook",2,0,Occasionally,75-80 %,7.50,7.50,2,Low
560,3,ECE,Male,H,89.0,90.0,Yes,No,Daily,0,>5 hours,Class notes,0,0,Occasionally,80-90 %,6.40,6.40,0,Below_average
561,1,ECE,Male,D,83.0,91.0,No,No,Just before exam,0,>5 hours,"Class notes, Textbook",4 & above,7,Always,75-80 %,4.30,4.30,4,Low

In [8]:
data.dtypes

year                        int64
branch                     object
gender                     object
type                       object
tenth                     float64
twelve                    float64
higher_education           object
take_notes                 object
prefer_tostudy             object
hoursstudy                  int64
time_relaxing              object
studymode                  object
active_backlogs            object
backlog_history             int64
participate_activities     object
attendance                 object
cgpa                      float64
cgpaup                    float64
backlog                     int64
grade                      object
dtype: object

In [9]:
unique=data.nunique()
print(unique)

year                        4
branch                      6
gender                      2
type                        2
tenth                      60
twelve                    132
higher_education            3
take_notes                  3
prefer_tostudy              2
hoursstudy                  4
time_relaxing               3
studymode                   7
active_backlogs             5
backlog_history            19
participate_activities      3
attendance                  6
cgpa                      201
cgpaup                    201
backlog                     5
grade                       5
dtype: int64

In [10]:
data.isnull().any().sum()

0

In [11]:
data.year.value_counts()

4    273
3    109
1    102
2     78
Name: year, dtype: int64

In [12]:
data.branch.value_counts()

CSE      257
ECE      122
Other     68
MEE       52
EEE       38
EIE       25
Name: branch, dtype: int64

In [13]:
data=pd.get_dummies(data,columns=['branch'],drop_first=True)
data

,year,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,...,attendance,cgpa,cgpaup,backlog,grade,branch_ECE,branch_EEE,branch_EIE,branch_MEE,branch_Other
0,4,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,...,80-90,5.00,5.00,4,Low,0,0,0,0,0
1,4,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,...,above 90,9.27,9.27,0,Excellent,0,0,0,0,0
2,4,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,...,80-90,6.20,6.20,0,Below_average,0,0,0,0,0
3,4,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,...,above 90,7.36,7.36,0,Average,0,0,0,0,0
4,4,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,...,above 90,8.06,8.06,0,Good,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,Male,D,90.0,80.0,Maybe,Occasionally,Just before exam,1,2-5 hours,...,75-80 %,8.50,8.50,0,Excellent,0,0,0,0,1
558,1,Male,D,98.0,97.0,No,No,Daily,1,>5 hours,...,75-80 %,8.90,8.90,0,Excellent,0,0,0,1,0
559,3,Male,H,89.0,89.0,No,Yes,Just before exam,1,>5 hours,...,75-80 %,7.50,7.50,2,Low,0,1,0,0,0
560,3,Male,H,89.0,90.0,Yes,No,Daily,0,>5 hours,...,80-90 %,6.40,6.40,0,Below_average,1,0,0,0,0
561,1,Male,D,83.0,91.0,No,No,Just before exam,0,>5 hours,...,75-80 %,4.30,4.30,4,Low,1,0,0,0,0

In [14]:
data.gender.value_counts()

Male      349
Female    213
Name: gender, dtype: int64

In [15]:
data=pd.get_dummies(data,columns=['gender','type','studymode'],drop_first=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,No,No,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,Maybe,Occasionally,Just before exam,1,2-5 hours,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,No,No,Daily,1,>5 hours,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,No,Yes,Just before exam,1,>5 hours,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,Yes,No,Daily,0,>5 hours,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,No,No,Just before exam,0,>5 hours,4 & above,7,...,0,0,1,0,1,0,0,0,0,0

In [16]:
data.higher_education.value_counts()

Yes      261
Maybe    203
No        98
Name: higher_education, dtype: int64

In [17]:
data['higher_education'].replace(['Maybe','No','Yes'],[1,0,2],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,No,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,Occasionally,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,Occasionally,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,Yes,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,No,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,Occasionally,Just before exam,1,2-5 hours,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,No,Daily,1,>5 hours,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,Yes,Just before exam,1,>5 hours,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,No,Daily,0,>5 hours,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,No,Just before exam,0,>5 hours,4 & above,7,...,0,0,1,0,1,0,0,0,0,0

In [18]:
data.take_notes.value_counts()

Yes             276
Occasionally    198
No               88
Name: take_notes, dtype: int64

In [19]:
data['take_notes'].replace(['Occasionally','No','Yes'],[1,0,2],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,1,Just before exam,1,2-5 hours,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,0,Daily,1,>5 hours,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,2,Just before exam,1,>5 hours,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,0,Daily,0,>5 hours,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,0,Just before exam,0,>5 hours,4 & above,7,...,0,0,1,0,1,0,0,0,0,0

In [20]:
data.prefer_tostudy.value_counts()

Just before exam    411
Daily               151
Name: prefer_tostudy, dtype: int64

In [21]:
data['prefer_tostudy'].replace(['Just before exam','Daily'],[1,2],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,1,1,1,2-5 hours,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,0,2,1,>5 hours,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,2,1,1,>5 hours,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,0,2,0,>5 hours,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,0,1,0,>5 hours,4 & above,7,...,0,0,1,0,1,0,0,0,0,0

In [22]:
data.hoursstudy.value_counts()

1    244
0    151
2    119
3     48
Name: hoursstudy, dtype: int64

In [23]:
data.time_relaxing.value_counts()

2-5 hours    283
>5 hours     215
<2 hours      64
Name: time_relaxing, dtype: int64

In [24]:
data['time_relaxing'].replace(['>5 hours','2-5 hours','<2 hours'],[1,2,3],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,1,1,1,2,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,0,2,1,1,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,2,1,1,1,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,0,2,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,0,1,0,1,4 & above,7,...,0,0,1,0,1,0,0,0,0,0

In [25]:
data.active_backlogs.value_counts()

0            460
4 & above     36
1             33
2             21
3             12
Name: active_backlogs, dtype: int64

In [26]:
data['active_backlogs'].replace(['4 & above','0','1','2','3'],[4,0,1,2,3],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,1,1,1,2,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,0,2,1,1,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,2,1,1,1,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,0,2,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,0,1,0,1,4,7,...,0,0,1,0,1,0,0,0,0,0

In [27]:
data.backlog_history.value_counts()

0     422
1      45
2      15
3      12
4      12
5      12
7      10
6       8
12      5
8       5
10      4
11      3
9       2
18      2
19      1
13      1
14      1
16      1
21      1
Name: backlog_history, dtype: int64

In [28]:
data.participate_activities.value_counts()

Occasionally    346
Always          145
Never            71
Name: participate_activities, dtype: int64

In [29]:
data['participate_activities'].replace(['Occasionally','Always','Never'],[1,2,0],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,1,1,1,2,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,0,2,1,1,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,2,1,1,1,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,0,2,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,0,1,0,1,4,7,...,0,0,1,0,1,0,0,0,0,0

In [30]:
data.attendance.value_counts()

80-90 %       227
above 90 %    158
75-80 %       155
80-90          11
above 90       10
75-80           1
Name: attendance, dtype: int64

In [31]:
data['attendance'].replace(['75-80 %','80-90 %','above 90 %','75-80','80-90','above 90'],[0,1,2,0,1,2],inplace=True)
data

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,90.0,80.0,1,1,1,1,2,0,0,...,0,1,1,0,0,0,1,0,0,0
558,1,98.0,97.0,0,0,2,1,1,0,0,...,1,0,1,0,1,0,0,0,0,0
559,3,89.0,89.0,0,2,1,1,1,2,0,...,0,0,1,1,0,0,0,1,0,0
560,3,89.0,90.0,2,0,2,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
561,1,83.0,91.0,0,0,1,0,1,4,7,...,0,0,1,0,1,0,0,0,0,0

In [32]:
data.active_backlogs.value_counts()

0    460
4     36
1     33
2     21
3     12
Name: active_backlogs, dtype: int64

In [33]:
data=pd.get_dummies(data,columns=['year'],drop_first=True)

In [34]:
data

,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,participate_activities,...,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook,year_2,year_3,year_4
0,93.0,93.0,1,0,1,0,1,4,6,1,...,1,0,1,0,0,0,0,0,0,1
1,97.0,97.6,1,1,2,1,2,0,0,1,...,1,0,0,0,1,0,0,0,0,1
2,88.0,94.2,1,1,1,0,1,0,4,1,...,0,0,0,0,0,0,0,0,0,1
3,88.0,96.7,1,2,2,2,2,0,0,2,...,0,0,0,0,1,0,0,0,0,1
4,97.0,93.5,0,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,90.0,80.0,1,1,1,1,2,0,0,1,...,0,0,0,1,0,0,0,1,0,0
558,98.0,97.0,0,0,2,1,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
559,89.0,89.0,0,2,1,1,1,2,0,1,...,1,0,0,0,1,0,0,0,1,0
560,89.0,90.0,2,0,2,0,1,0,0,1,...,1,0,0,0,0,0,0,0,1,0
561,83.0,91.0,0,0,1,0,1,4,7,2,...,0,1,0,0,0,0,0,0,0,0

In [35]:
data.dtypes

tenth                                                float64
twelve                                               float64
higher_education                                       int64
take_notes                                             int64
prefer_tostudy                                         int64
hoursstudy                                             int64
time_relaxing                                          int64
active_backlogs                                        int64
backlog_history                                        int64
participate_activities                                 int64
attendance                                             int64
cgpa                                                 float64
cgpaup                                               float64
backlog                                                int64
grade                                                 object
branch_ECE                                             uint8
branch_EEE                                             uint8
branch_EIE                                             uint8
branch_MEE                                             uint8
branch_Other                                           uint8
gender_Male                                            uint8
type_H                                                 uint8
studymode_Class notes, Textbook                        uint8
studymode_Online Tutorials                             uint8
studymode_Online Tutorials, Class notes                uint8
studymode_Online Tutorials, Class notes, Textbook      uint8
studymode_Online Tutorials, Textbook                   uint8
studymode_Textbook                                     uint8
year_2                                                 uint8
year_3                                                 uint8
year_4                                                 uint8
dtype: object

In [36]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [37]:
import matplotlib.pyplot as plt
import seaborn as seabornInstance  
from sklearn import metrics
%matplotlib inline

In [38]:
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [39]:
X=data[['year_2','year_3','year_4','tenth','twelve','higher_education','take_notes','prefer_tostudy','hoursstudy','time_relaxing','active_backlogs','backlog_history','participate_activities','attendance','branch_ECE','branch_EEE','branch_EIE','branch_MEE','branch_Other','gender_Male','type_H','studymode_Class notes, Textbook','studymode_Online Tutorials','studymode_Online Tutorials, Class notes','studymode_Online Tutorials, Class notes, Textbook','studymode_Textbook','studymode_Online Tutorials, Textbook']]
Y=data['cgpa']

In [40]:
data_dmatrix = xgb.DMatrix(data=X,label=Y)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [42]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [43]:
xg_reg.fit(X_train,Y_train)
preds = xg_reg.predict(X_test)

[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

In [44]:
rmse = np.sqrt(mean_squared_error(Y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 2.771190

In [45]:
from sklearn.model_selection import cross_val_score

In [46]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
scores = cross_val_score(xg_reg, X, Y, cv=10, scoring='neg_mean_squared_error')
#print(scores)

[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[09:42:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

In [47]:
mse_scores=(-scores)

In [48]:
rmse_scores = np.sqrt(mse_scores)
#print(rmse_scores)

In [49]:
print("Cross Validated RMSE: %f" % (rmse_scores.mean()))

Cross Validated RMSE: 2.746447